<ul class="nav nav-tabs">

    <li ng-class="{'active':authform.loginTab}"
        ng-init="authform.name = 'Login to service'"
        ng-click="authform.loginTab = !authform.loginTab; authform.name = 'Login to service'">
        <a >Login to service</a>
    </li>

    <li ng-class="{'active':!authform.loginTab}"
        ng-click="authform.loginTab = !authform.loginTab; authform.name = 'Sign up'">
        <a >Sign Up</a>
    </li>
</ul>
<br>
<form role="form" name="form" ng-if="authform.loginTab" novalidate >

    <login-form
            button = authform.name
            submit = authform.login(user)
            close = authform.cancel()>
    </login-form>
</form>
<form  role="form" name="form" ng-if="!authform.loginTab" novalidate>
    <div class="form-group">
        <label for="username"> Username:</label>
        <input type="text"
               id="username"
               name="username"
               class="form-control"
               ng-model="authform.user.userName"
               placeholder="Enter username">
        <div class="help-block" ng-messages="form.username.$error">
            <div ng-messages-include="messages.html"></div>
        </div>
    </div>
    <login-form
            button=authform.name
            submit = authform.signup(user)
            close = authform.cancel()>
    </login-form>
    </div>
</form>