<div class="container">
    <div class="jumbotron">
        <div class="table-responsive">
            <links-table
                    links = linksByTag.links
                    title = linksByTag.title>
            </links-table>
        </div>
        <uib-pagination
                total-items="linksByTag.count"
                ng-model="linksByTag.currentPage"
                max-size="3"
                ng-change="linksByTag.pageChanged()"
                rotate="true"
                items-per-page="linksByTag.itemsPerPage"
                boundary-link-numbers="true">
        </uib-pagination>
    </div>
</div>
