<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th> Oroginal link </th>
                <th> Short link </th>
                <th> Description </th>
                <th> Tags </th>
                <th> Actions </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="link in linksCtrl.links">
                <td> {{link.originalLink}} </td>
                <td> {{link.shortLink}} </td>
                <td> {{link.description}} </td>
                <td> dd</td>
                <td> dd</td>

            </tr>
            </tbody>

        </table>
    </div>
</div>


