<div class="modal-header">
    <h3 class="modal-title">{{linkDetails.title}}</h3>
</div>
<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>Original link: </dt>
        <dd>
            <a href="{{linkDetails.link.originalLink}}">
                <span>{{linkDetails.link.originalLink}}</span>
            </a>
        </dd>
        <dt>Short link: </dt>
        <dd><a href="{{linkDetails.link.originalLink}}">{{linkDetails.link.shortLink}}</a></dd>
        <dt>Description: </dt>
        <dd>{{linkDetails.link.description}}</dd>
        <dt>Tags: </dt>
        <dd>
            <span ng-repeat="tag in linkDetails.link.tags">
                <a href="tag">{{tag}}</a>&nbsp; &nbsp;
            </span>
        </dd>
        <dt> Number of clicks: </dt>
        <dd> {{linkDetails.link.clicks}} </dd>
        <dt> Sum of  your clicks: </dt>
        <dd> {{linkDetails.sum}} </dd>
    </dl>

</div>
<div class="modal-footer">
    <input  type="button" class="btn btn-default" ng-click="linkDetails.edit()" value="Edit" />
    <input  type="button" class="btn btn-default" ng-click="linkDetails.close()" value="cancel" />
</div>
