<div class="page-header" ng-if="!$root.logged">
    <div class="container">
        <h1>Welcome to InBrief service </h1>
        <h6> Please log in to service</h6>
    </div>
</div>
<div class="container" ng-if="$root.logged">
    <div class="jumbotron">
        <div class="row">
            <link-form
                    action="home.addLink(link)"
                    link = "home.link">
            </link-form>
        </div>
    </div>
    <div class="jumbotron" ng-if="home.userLinks.length > 0">
        <div class="row">
            <div class="container">
                <div class="table-responsive">
                    <links-table
                            links = home.userLinks
                            title = home.title>
                    </links-table>
                </div>
            </div>
        </div>
    </div>
</div>