
a:hover {
  cursor:pointer;
}
.navbar {
  border-radius: 0px;
}
.nav-tabs>li {
  width:50%;
  float: left;
  margin-bottom: -1px;
  a {
     margin-right: 0px;
     border-radius: 0px 0px 0 0;
  }
}
.alertify-log-success {
  background: black;
  background: black;
}
.right {
	float: right;
}