<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="home" ><i class="icon ion-home"> </i> {{ $root.appTitle}}</a>
    </div>
    <ul class="nav navbar-nav">
        <li ><a ui-sref="clients"><i class="ion-person-stalker"> </i> Clients</a></li>
        <li ><a ui-sref="links"><i class="ion-arrow-swap"> </i> Finance</a></li>
        <li ><a ui-sref="links"><i class="ion-social-usd"> </i>  Trades</a></li>
        <li ><a ui-sref="links"><i class="ion-ios-telephone"> </i> Help Desk</a></li>
        <li ><a ui-sref="links"><i class="ion-android-calendar"> </i> Tasks</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>
            </ul>
        </li>
    </ul>

    <ul class="nav navbar-nav right">
        <li  ng-hide="$root.logged"><a ng-click="navBar.open()"><i class="ion-person"> </i> Log In</a></li>
        <li  ng-show="$root.logged"><a  ng-click="navBar.logout()">Log Out</a></li>
    </ul>
</nav>